* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.progress-bar {
  z-index: 2;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
}

.progress-bar__inner {
  position: absolute;
  height: 7px;
  width: 0%;
  background-color: #08A6E4;
  color: #FFFFFF;
}

.header-section {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background-color: #FFFFFF;
}

.header-section__container {
  display: flex;
}

.header-section__title {
  width: 48%;
}
.header-section__title span {
  color: #08A6E4;
  font-family: Raleway;
  font-weight: 400;
  font-size: 32px;
}

.header-section__icon {
  display: none;
}

.header-section__title:hover {
  cursor: pointer;
}

.header-section__icon img:hover {
  cursor: pointer;
}

.section-why,
.section-benefits,
.section-prices,
.section-contact {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 11px;
  color: #A5A5A5;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-decoration: none;
}

.header-expand {
  height: 200px;
}

.header-section-mob-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 100px;
  margin-top: 30px;
  padding-left: 15px;
}

.header-section__subtitles {
  display: flex;
  width: 45%;
  order: 2;
  justify-content: space-between;
  align-items: center;
}

.inactive {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .header-section__subtitles {
    display: none;
  }
  .header-section__icon {
    display: flex;
  }
  .header-section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main {
  background-color: #F7F7F7;
}

.main-sell {
  display: block;
  text-align: center;
  background-color: #FFFFFF;
}
.main-sell h1 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 35px;
  color: #000000;
  margin-top: 90px;
  line-height: 41.09px;
}
.main-sell p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  min-width: 290px;
  margin-top: 20px;
  line-height: 23px;
}
.main-sell .main-sell__button {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  min-width: 290px;
  margin-top: 40px;
  color: #FFFFFF;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  height: 67px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.main-sell .main-sell__button:hover {
  transform: scale(1.005);
}

.laptop-img {
  background-color: #FFFFFF;
}

.laptop-img img {
  width: 100%;
  max-height: 594px;
  margin-top: 60px;
}

.main-stadistics {
  background-color: #FFFFFF;
  display: block;
  margin-top: 0;
  text-align: center;
}
.main-stadistics h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  padding: 20px 20px;
}
.main-stadistics img {
  margin: 10px;
  max-width: 75%;
  max-height: 155px;
}
.main-stadistics .icon-red {
  padding-left: 4px;
}

.card-container {
  text-align: center;
  background-color: #F7F7F7;
}
.card-container .card-container__card {
  padding: 8px;
  width: 85%;
  max-width: 650px;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.card-container .card-container__card h1 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  margin-top: 10px;
  text-align: start;
}
.card-container .card-container__card p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 25px;
  text-align: start;
}

.card-1,
.card-2 {
  margin: 25px auto;
}

.card-3 {
  margin: 0 auto;
  max-width: 650px;
  padding: 8px 0;
}

.card-3__text {
  padding: 8px;
}

.container-last-card-green {
  text-align: center;
  background-color: #55DFB4;
  padding-top: 16px;
  border-radius: 5px;
}
.container-last-card-green img {
  padding-top: 45px;
  text-align: center;
  max-width: 85%;
  max-height: 250px;
}

.prices-container {
  text-align: center;
  background-color: #FFFFFF;
  margin-top: 30px;
}
.prices-container h1 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  line-height: 42.26px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.prices-container-cards {
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 70px;
}

.prices-container__card1 {
  height: 250px;
  width: 85%;
  background: #FFFFFF;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  margin: 0 auto;
  display: inline-block;
  transition-property: scale();
  transition-duration: 1.5s;
}

.info-detail {
  display: inline-block;
  width: 40%;
  margin-top: 20px;
}
.info-detail span {
  display: block;
  text-align: start;
  padding-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}

.price-detail {
  vertical-align: middle;
  width: 40%;
  height: 100%;
  display: inline-block;
}
.price-detail h2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.price-detail span {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #FB3B64;
}

.card-button {
  cursor: pointer;
  margin-top: -50px;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
}

.card-button-1 {
  background: #FB3B64;
}

.card-button-2 {
  background: #07ACE6;
}

.card-button-3 {
  background: #55DFB4;
}

.prices-container__card2 {
  height: 250px;
  width: 85%;
  background: #FFFFFF;
  border: 1px solid #07ACE6;
  border-radius: 18px;
  margin: 25px auto 0;
  display: inline-block;
  transition-property: scale();
  transition-duration: 1.5s;
}

.info-detail2 {
  display: inline-block;
  width: 40%;
  margin-top: 20px;
}
.info-detail2 span {
  display: block;
  text-align: start;
  padding-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}

.price-detail2 {
  vertical-align: middle;
  width: 40%;
  height: 100%;
  display: inline-block;
}
.price-detail2 h2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.price-detail2 .price-detail2__number {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 46px;
  line-height: 62px;
  color: #07ACE6;
  display: block;
}
.price-detail2 .price-detail2__offer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.09px;
  color: #000000;
  display: block;
}

.prices-container__card3 {
  height: 250px;
  width: 85%;
  background: #FFFFFF;
  border: 1px solid #55DFB4;
  border-radius: 18px;
  margin: 25px auto 0;
  display: inline-block;
  transition-property: scale();
  transition-duration: 1.5s;
}

.info-detail3 {
  display: inline-block;
  width: 40%;
  margin-top: 20px;
}
.info-detail3 span {
  display: block;
  text-align: start;
  padding-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}

.price-detail3 {
  vertical-align: middle;
  width: 40%;
  height: 100%;
  display: inline-block;
}
.price-detail3 h2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.price-detail3 .price-detail3__number {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 46px;
  line-height: 62px;
  color: #55DFB4;
  display: block;
}
.price-detail3 .price-detail3__offer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.09px;
  color: #000000;
  display: block;
}

.prices-container__card1:hover {
  box-shadow: 5px 10px 27px #FB3B64;
}

.prices-container__card1-button:hover {
  transform: scale(1.01);
}

.prices-container__card2:hover {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
}

.prices-container__card2-button:hover {
  transform: scale(1.01);
}

.prices-container__card3:hover {
  box-shadow: 5px 10px 27px #55DFB4;
}

.prices-container__card3-button:hover {
  transform: scale(1.01);
}

.section-currency {
  margin-bottom: 25px;
}
.section-currency p {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 4px;
  margin-bottom: 20px;
}
.section-currency button {
  cursor: pointer;
  height: 40px;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 17px;
  border: 1px solid #08a6e4;
  text-align: center;
  background-color: #FFFFFF;
}

.section-currency .active {
  background-color: rgba(7, 172, 230, 0.29);
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 90px auto;
  padding: 15px;
}

.left-arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 4%;
  transition-property: scale();
  transition-duration: 0.5s;
}
.left-arrow img {
  width: 100%;
}

.left-arrow img:hover {
  transform: scale(1.3);
}

.right-arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 30px;
  width: 4%;
  right: 5px;
  top: 50%;
  transition-property: scale();
  transition-duration: 0.5s;
}
.right-arrow img {
  width: 100%;
}

.right-arrow img:hover {
  transform: scale(1.3);
}

.slider-screen {
  position: relative;
  min-width: 320px;
  max-width: 580px;
}
.slider-screen img {
  width: 100%;
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 16px;
  left: 46%;
}

.button-dot__1,
.button-dot__2,
.button-dot__3,
.button-dot__4,
.button-dot__5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(8, 6, 6);
  cursor: pointer;
}

.slider-button-dot-white {
  background-color: #FFFFFF;
}

.form-container {
  margin: 0 auto;
  background-color: #FFFFFF;
}

.form-container__contact {
  display: block;
  margin-bottom: 40px;
  text-align: start;
  margin-left: 25px;
}
.form-container__contact h1 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 40px;
  line-height: 46.96px;
  color: #000000;
  padding-top: 35px;
}
.form-container__contact h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 4px;
  margin-bottom: 20px;
}
.form-container__contact span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 9px;
  display: block;
  line-height: 22px;
  color: #A5A5A5;
}
.form-container__contact span img {
  width: 15px;
}

.form-container__personal-info {
  text-align: start;
}
.form-container__personal-info label {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  color: #08A6E4;
  line-height: 14.98px;
  margin-top: 60px;
  letter-spacing: 3.28px;
}
.form-container__personal-info input {
  width: 280px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #95989A;
}

.info-name {
  margin-left: 25px;
}

.consent-container {
  margin-top: 15px;
}

.consent-container__check {
  display: inline-block;
  vertical-align: top;
}
.consent-container__check input {
  width: 20px;
  margin-left: 20px;
}

.consent-container__text {
  max-width: 250px;
  display: inline-block;
  margin-left: 3px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  color: #707070;
  line-height: 16.34px;
}

.consent-container__button {
  margin-left: 45px;
}

.form-personal-info input:focus {
  outline: none;
}

.send-button {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  min-width: 226px;
  margin-top: 40px;
  margin-bottom: 35px;
  color: #FFFFFF;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  height: 57px;
  border: none;
}

.send-button:hover {
  cursor: pointer;
}

.btn-return-top {
  display: none;
  position: fixed;
  border: none;
  border-radius: 50%;
  right: 2px;
  bottom: 90px;
  z-index: 10;
}

.btn-return-top img {
  border-radius: 50%;
}

.btn-return-top:hover {
  cursor: pointer;
}

.footer-container {
  width: 100%;
  height: 89px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}

.footer-container__rights {
  display: inline-block;
  width: 65%;
  text-align: start;
  margin-left: 3px;
}

.footer-title {
  display: block;
  color: #08A6E4;
  font-family: Raleway;
  font-weight: 300;
  font-size: 26px;
  text-align: start;
  margin-left: 3px;
  cursor: pointer;
}

.footer-rights {
  display: block;
  color: #A5A5A5;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
}

.footer-container__media {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.footer-container__media .footer-twitter {
  margin-right: 12px;
}

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 90%;
  max-width: 600px;
  background-color: #F7F7F7;
  margin: 25% auto 0;
  max-height: 70%;
  border: 4px solid #08A6E4;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  height: 200px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 11px;
}
.modal-content h2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
}
.modal-content #submitBtn {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 3px;
  border: none;
  height: 20px;
  width: 70px;
}
.modal-content #closeButton {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
  background-color: #FB3B64;
  border-radius: 3px;
  border: none;
  height: 20px;
  width: 17px;
  color: #F7F7F7;
}

#subscribeForm input {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 190px;
}

#subscribeForm input:focus {
  outline: none;
}

@media only screen and (min-width: 1000px) {
  .header-section-mob-menu {
    display: none;
  }
  .header-expand {
    height: 70px;
  }
  .main-stadistics {
    display: flexbox;
    margin-top: 0;
    justify-content: center;
  }
  .main-stadistics__images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-1 {
    display: flex;
    align-items: center;
    height: 270px;
  }
  .card-1__img {
    width: 50%;
    order: 2;
  }
  .card-1__text {
    width: 40%;
    order: 1;
    margin-left: 20px;
  }
  .card-1__red-line {
    display: block;
    margin: 30px 0;
    width: 300px;
  }
  .card-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 270px;
  }
  .card-2__img {
    width: 40%;
    order: 1;
  }
  .card-2__text {
    width: 40%;
    order: 2;
  }
  .card-2__blue-line {
    display: block;
    margin: 30px 0;
    width: 280px;
  }
  .card-3 {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .card-3__text {
    padding-left: 20px;
    align-items: center;
  }
  .card-3__blue-line {
    width: 265px;
  }
  .container-last-card-green img {
    padding-top: 60px;
  }
  .card-3__blue-line {
    display: block;
    margin: 30px 0;
  }
  .prices-container {
    display: block;
  }
  .prices-container-cards {
    display: flex;
    max-width: 100%;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .prices-container__card1 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 357px;
    width: 325px;
    align-items: center;
  }
  .prices-container__card2 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 357px;
    width: 325px;
    align-items: center;
  }
  .prices-container__card3 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 357px;
    width: 325px;
    align-items: center;
  }
  .form-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
  }
  .form-container__contact {
    width: 40%;
    text-align: center;
  }
  .form-container__personal-info {
    width: 40%;
  }
  .form-container__contact h1 {
    padding-top: 0;
  }
  .form-container__mail-phone {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .footer-container {
    display: flex;
  }
  .footer-container__rights {
    width: 48%;
    padding-left: 15px;
  }
  .footer-container__media {
    width: 48%;
    padding-right: 35px;
    text-align: end;
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
